body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 1.6em;
}
/* Properties */
ul{
    padding: inherit;

}

.nav-bar ul li{
    letter-spacing: 2px;
    line-height: 45px;
}

li{
    list-style: none;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
}

#page-wrapper{
    display: grid;
    grid-template-columns: 17% 83%;
    height: 100vh;
}

/* Profile */
.profile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

#profile-photo{
    display: inline-block;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile h5{
    text-transform: uppercase;  /* Sonradan refactor edilebilir. */
    letter-spacing: 2px;
    margin: 20px 0 0 0;
}

/* icons */

.social-links li{
    display: inline-block;
    margin: 0 5px;
}

#github:hover{
    color: #a2a2a2;
}

#linkedin:hover{
    color:#2867B2;
}

#instagram:hover{
    color: #d6249f;
}

#mail:hover{
    color: #ff9900;
}

/* aside */

#aside{
    display: grid;
    justify-content: center;
    background: #1f1f1f;
    text-align: center;
}

#footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 10px;
}

.header{
    text-align: center;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
 
#section{
    display: grid;
}

.nav-bar a:hover{
    color: orange;
}

/* Main */
.roadmap{
    padding: 0px 20px;
    margin: 4rem 0;
}

.roadmap-container{
    color: black;
    font-size: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media(max-width: 992px){
    #aside{
        grid-row: 2/3;
        grid-column: 1;

    }
    #footer{
        margin: 0 auto;
    }
    .profile, .nav-bar {
        display: none;
    }
    .header{
        background-image: url(./img/header-image.png);
    }
    #main{
        grid-row: 1/2;
        grid-column: 1;
    }
    #page-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
    #section{
        display: flex;
        flex-direction: column;
    }
    .personal-information h1{
        font-size: 25px;
    }
    .personal-information h4{
        font-size: 18px;
    }
    p{
        font-size: 16px;
        font-weight: 600;
    }
    .roadmap{
        margin: 10px auto;
    }
}
